@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-2xl antialiased text-pink-200;
  background-color: #030303;
}
.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
}

.overlay:before, .overlay:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: red;
  transform: translateY(-50%) rotate(45deg);
}

.overlay:after {
  transform: translateY(-50%) rotate(-45deg);
}


.text-gabe{
  @apply text-slate-900;
}

.bubblebox{
  @apply rounded-3xl text-gabe bg-gray-100 m-6 p-3 min-w-fit;
}


.lilbubble{
  @apply rounded text-gabe  bg-gray-50 m-3 p-3 min-w-fit;
}
.lilgrid{
  @apply rounded-sm bg-slate-400 m-1 p-1 min-w-fit;
}

.nav-link {
  @apply  text-pink-300 block py-2 px-4 text-center transition-colors duration-200 bg-black bg-opacity-90;
}

.nav-link:hover {
  @apply bg-cyan-100 text-purple-400;
}
.sofatext{
  @apply border text-black border-gray-400 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500;
}
.sofaheader{
  @apply text-5xl font-semibold p-5 text-pink-600;
}



.pickreg {
  @apply border-2 border-gray-300 rounded-lg bg-pink-700 bg-opacity-20 hover:drop-shadow-lg hover:cursor-pointer;
}

.picked{
  @apply border-2 font-semibold rounded-lg hover:cursor-pointer border-blue-500 bg-pink-500 hover:border-purple-600 ;
}
